doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet',href='/stylesheets/admin.css')
    link(rel='stylesheet',href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')
    link(rel='stylesheet',href='https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css')
    script(src="/javascripts/jquery-3.3.1.js")
    script(scr="/javascripts/bootstrap.js")
    script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js")
    script(src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js")
    script(src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js")
    script(src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js")
    script(src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js")
    script.
      tokenValue="#{tokenValue}";
      username="#{username}";
  body
    block content
